#nag{
    background-color: lightblue;
    text-align: center;
    height: 80px;   
}
#lewy{
    background-color: yellow;
    width: 35%;   
    float: left;
}
#prawy{
    background-color: #E0FFFF;
    height: 720px;
    width: 65%;   
    float: left;
}
#dolny{
    background-color: #f1f1f1;
    height: 110px;
    text-align: center;
    clear:both;
}
#stopka{
    background-color: darkblue;
    color:yellow;
    height: 50px;
    text-align: center; 
    clear:both;
}